* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    outline: none;
}

body {
    background-color: #2e3339;
}

section {
    display: flex;
    align-items: center;
    /* Alinhou os itens ao centro */
    justify-content: center;
    flex-direction: column;
    /* Fez o alinhamento em colunas */
}

.top-img {
    width: 20vw;
    height: 30vh;
    margin-top: 1.5rem;
}

h1 {
    font-size: 60px;
    color: #FFFFFF;
    margin: 15px auto;
    text-shadow: 3px 3px 2px rgb(57, 197, 39);
}

h2 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}

h3 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0 20px 0;
    text-align: center;
}

h4,
h5,
a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

input {
    height: 50px;
    width: 120px;
    padding-left: 20px;
    border-radius: 14px;
    border: 1px solid rgba(74, 170, 39, 255);
    background: rgba(46, 51, 57, 255);
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


label {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
}

button {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    background:
        #4aaa27;
    box-shadow: 0px 2px 10px 0px rgba(74, 170, 39, 255);
    color: white;
    text-shadow: 3px 3px 2px rgb(16, 36, 14);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    margin-top: 52px;
}

.result h2 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.result-value {

    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 32px;
    color: #FFFFFF;
    background-color: #4aaa27;
    text-align: center;
    line-height: 60px;
    display: none;
}

h6 {
    color: white;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .6;
}

.contato {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    gap: 10px;

}

.linkedin {
    width: 40px;
    height: 40px;
}

.whatsapp {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

footer {
    background-color: #2e3339;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 0;
}

@media (max-width: 600px) {

    .top-img {
        width: 60vw;
        height: 35vh;
    }

    .input {
        display: flex;
        flex-direction: column;
    }

    label {
        text-align: center;
        margin: 10px auto;
    }

    button {
        margin-top: 30px;
    }

    @media (max-width: 430px) {

        h3 {
            text-align: center;
        }

        button {
          width: 250px;  
        }
    }
}